@model IEnumerable<MyShop.Models.Carousel>

@{
    ViewBag.Title = "ListCarousels";
}

<h2>Список Рекламных фото</h2>

<p>
    @Html.ActionLink("Добавить рекламу", "CreateCarousel")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.PathImage != null)
                {

                    <img src="/Files/Carousels/@item.Id/@item.PathImage" height="100" width="150" />
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathImage)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCarousel", new { id = item.Id }) |
             
                @Html.ActionLink("Delete", "DeleteCarousels", new { id = item.Id }, new { @class = "delete" })
            </td>
        </tr>
    }

</table>
<script>
                $(function () {

                 



                    $("a.delete").on("click", function (e) {
                        if (!confirm("Хотите удалить фото?")) return false;
                    });
                });
</script>